*{
    box-sizing: border-box;
}
html{
    font-size: 100%;
}
header{
    text-align: center;
}
:root{
    --board-width: 80vw;
    --board-height: 80vw;
    --board-gap: 0.1rem;
    --font-size: 2rem;
    --grid-size: 3;
}
.board{
    margin: auto;
    border: solid black;
    background-color: black;
    display: grid;
    width: var(--board-width);
    max-width: 300px;
    height: var(--board-height);
    max-height: 300px;
    grid-template-rows: repeat(var(--grid-size), 1fr);
    grid-template-columns: repeat(var(--grid-size), 1fr);
    row-gap: var(--board-gap);
    column-gap: var(--board-gap);
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: var(--font-size); 
}
.reset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    margin: auto;
}
.button{
    margin: 0.25rem;
    width: 7rem;
    height: 3rem;

}
