*{
    box-sizing: border-box;
}
html{
    font-size: 100%;
}
header{
    text-align: center;
}
:root{
    --board-width: 80vw;
    --board-height: 80vw;
    --board-gap: 0.1rem;
    --font-size: 5rem;
}
.board{
    margin: auto;
    border: solid black;
    background-color: black;
    display: grid;
    width: var(--board-width);
    height: var(--board-height);
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    row-gap: var(--board-gap);
    column-gap: var(--board-gap);
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: var(--font-size); 
}
.reset{
    display: flex;
    padding: 1rem 1rem;
    margin: auto;
    justify-content: center;
}
